body {

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f5f7fa;
  color: #333;
}

h1 {
    font-weight: 100;
    text-align: center;
}


header {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 1rem;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

nav a:hover {
  background-color: #0066ff;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  max-width: 300px;
  border-radius: 0.5rem;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 1rem;
}