
:root {
    --primary: #008751;  
    --secondary: #ffffff; 
        

    --text-dark: #222;
    --text-light: #fff;

    --shadow: 0 4px 12px rgba(0,0,0,0.2);
    --radius: 12px;
}


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f3f3f3;
    color: var(--text-dark);
}

header {
    text-align: center;
    background: var(--primary);
    color: var(--text-light);
    padding: 1rem 0;
}

.flag-bar {
    width: 100%;
    height: 12px;
    background: linear-gradient(to right, green 33%, white 33%, white 66%, green 66%);
}


.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.data-box,
.weather-box {
    background: var(--secondary);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 1rem;
    width: 85%;
    margin: 1rem auto;
}

.data-box h2,
.weather-box h2 {
    margin-top: 0;
    background: var(--primary);
    color: var(--text-light);
    padding: 0.5rem;
    border-radius: var(--radius);
}

.data-box ul,
.weather-box ul {
    list-style: none;
    padding: 0;
    color: #222;
}

.data-box li,
.weather-box li {
    margin-bottom: 0.4rem;
}

.weather-icon-mobile {
    width: 50px;
    display: block;
    margin: 1rem auto 0;
}


.weather-icon-desktop::after {
    content: "";
}


footer {
    background: var(--primary);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
