body {
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 1rem;
  background-color: #0c4a6e;
  color: white;
  position: relative;
}


.navlinks {
  display: none;
  flex-direction: column;
  background-color: #0c4a6e;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  border-radius: 8px;
  padding: 1rem;
  justify-content: flex-end;
  margin: 2rem;
  gap: 1rem;
}


.navlinks.open {
  display: flex;
}

#menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

nav ul.navlinks li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 20px;
}

.temple-contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.temple-contents img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
}

footer {
  background-color: #0c4a6e;
  color: white;
  text-align: center;
  padding: 1rem;
}

.temple h1 {
    text-align: center;
}