@media screen and (min-width: 500px) {
  .temple-contents {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .navlinks {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
    padding: 0;
  }

  #menuButton {
    display: none;
  }
}
